#container{
    padding: 0;
    margin: 0;
}
.lead-image{
    background-image: url('../images/app.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 100%;
    background-position: center;
    position: relative;
    padding: 0;
}
#ham{
    padding: 0px;
    margin-left: 25px;
}
.ui-btn.lead{
    position: absolute;
    width: 130px;
    top: 75%;
    left: 50%;
    margin: -65px;
    background-color: #0e108a;
    font-size: 14px;
}

#common {
    width: 200px;
    margin-right: 25px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-featured{
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.feature-text{

 padding: 10px;
}

.image {
  height: 500px;
  width: 500px;
  border: 1px solid #a4a4a4;
}